<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--Battleye RCON Host-->
        <add key="host" value="127.0.0.1"/>
        <!--Battleye RCon port-->
        <add key="port" value="2302"/>
        <!--Battleye RCON Password-->
        <add key="password" value=""/>
        <!--MySQL Connection String , see https://www.connectionstrings.com/mysql/-->
        <add key="DBConnectionString" value="Server=127.0.0.1;Database=players;Uid=;Pwd=;"/>
        <!--Path to ArmA 3 (create  Deploy\ and MPMissions\Backup\ folders and copy pbo to Deploy folder to deploy on restart)-->
        <add key="Arma3Path" value="C:\steamapps\Arma 3\"/>
        <!--Name of the pbo mission file-->
        <add key="PBOName" value="ArmA3_Wasteland.Altis"/>
        <!--how long to wait for the base saving to be done before giving up and just unlocking the server-->
        <add key="TimeoutSeconds" value="1800"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>